body{
    background-color: #bae7ff;
}

.main {
    height: 100hv;
   
    background-color: #bae7ff;
}

.title {
    text-align: center;
   
    padding: 2%;
    background-color: #91d5ff;
    color: #efefef;
}

.bottom {
   
  
    left: 0;
    bottom: 0;
}

